---
dataid:
title: Resume
permalink: /fitur/resume/
layout: pages
---
{% assign dataid = "kup" %}
<h3>KUP</h3>

{% assign docs_by_category = site.fitur | where: "category", dataid | group_by: "topik" %}
{% for cat in site[dataid] %}
  {% assign currentCat = docs_by_category | where: 'name', cat | first %}

            <h4 class="text-normal ml-3 mt-3">
                <a href="/fitur/resume/kup/index.html#{{ currentCat.name }}">{{ currentCat.name }}</a>
            </h4>

{% endfor %}
{% comment %}
{% capture dataid %}pph{% endcapture %}
<h3>PPh</h3>

{% assign docs_by_category = site.fitur | where: "category", dataid | group_by: "topik" %}
{% for cat in site[dataid] %}
  {% assign currentCat = docs_by_category | where: 'name', cat | first %}
        <ul>
            <li class="text-normal">
                {{ currentCat.name }}
            </li>
        </ul>
{% endfor %}

{% capture dataid %}ppn{% endcapture %}
<h3>PPN</h3>

{% assign docs_by_category = site.fitur | where: "category", dataid | group_by: "topik" %}
{% for cat in site[dataid] %}
  {% assign currentCat = docs_by_category | where: 'name', cat | first %}
        <ul>
            <li class="text-normal">
                {{ currentCat.name }}
            </li>
        </ul>
{% endfor %}
{% endcomment %}