[submodule "_docs/aspekpajak"]
	path = _docs/aspekpajak
	url = https://github.com/kelaspajak/aspekpajak.git
[submodule "_docs/kup"]
	path = _docs/kup
	url = https://github.com/kelaspajak/kup.git
[submodule "_docs/lainlain"]
	path = _docs/lainlain
	url = https://github.com/kelaspajak/lainlain.git
