{% for fitur in site.data.navigation.pricing %}
{% if fitur.id == "kup" %}
<div class="MarketplacePlan--sticky col-md-6 float-md-left pl-md-6">
    <div class="position-relative bg-white rounded-1 box-shadow-large p-4 mb-3">
        <div class="position-absolute top-0 left-0 width-full bg-biru-linear pt-1"></div>
        <div class="lh-condensed text-gray-light text-small">{{fitur.title}}</div>
        <h3 class="f2 text-normal lh-condensed mb-2">{{fitur.description}}</h3>
        <p class="lh-condensed">{{fitur.longdescription}}</p>
        {% for layanan in fitur.layanan limit:1 %}
        <p class="lh-condensed tooltipped tooltipped-ne tooltipped-align-left-1">
            <svg class="octicon octicon-person text-blue mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M12 14.002a.998.998 0 01-.998.998H1.001A1 1 0 010 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z">
                </path>
            </svg>
            {{layanan.id}}
        </p>
        {% endfor %}
        <ul class="list-style-none mb-4">
            {% for layanan in fitur.layanan offset:2 %}
            <li class="mb-1"><svg class="octicon octicon-check text-green mr-2" viewBox="0 0 12 16" version="1.1"
                    width="12" height="16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
                </svg>
                {{layanan.id}}
            </li>
            {% endfor %}
        </ul>
        <!-- area kiri bawah-->
        {% assign fitur.id = "kup" %}
        {% for price in fitur.price %}
        <div class="border-top border-bottom py-2 mb-3 d-flex flex-md-items-center flex-justify-between">
            <div class="d-flex flex-md-items-center">
                <span class="h2 pr-2">{{ price.rupiah }}</span>/&nbsp;
                <span class="text-small text-gray-light lh-condensed-ultra d-block mt-1 mt-md-0">{{price.masa}}</span>
            </div>
        </div>
        {% endfor %}
        <div class="d-lg-flex mb-3 flex-justify-between">
            <div class="mb-2 position-relative">
                Transfer ke rekening Bank BNI<br>
                <h3>a.n. JURIATIN no. rekening 018-9078-528</h3><br>
                <span class="text-small text-gray">Berlaku sampai dengan tanggal 31 Desember 2019
                </span>
            </div>
        </div>
        <div class="d-lg-flex flex-items-center">
            <div class="mb-2 mb-lg-0">
                <a class="btn background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); px-6 py-2 d-block d-md-inline-block text-center width-full bg-biru-linear"
                    href="https://t.me/lesssummer/">
                    Langganan Sekarang
                </a>
            </div>
            <div class="" style="white-space:normal;">
                <p class="text-small ml-lg-3 mb-0 lh-condensed">Konfirmasi pembayaran melalui WA 082157998873</p>
            </div>
        </div>
    </div>
</div>
</div>
{%endif%}
{%endfor%}
