{% comment %}
<div class="col-lg-4 col-md-6 mb-4 mt-4 d-flex flex-column">
  <a href="{{ feature.url }}" class="d-flex flex-column bg-white rounded-1 box-shadow border text-inherit no-underline flex-1" style="height:100%">
    <h3 class="h4 px-3 pt-3">{{ feature.title }}</h3>
    <p class="text-gray lh-condensed px-3 pb-3">{{ feature.description }}</p>
    <div class="text-gray-light pl-3 pr-2 py-2 bg-gray-light border-top" style="margin-top: auto; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
      <div class="d-flex flex-row">
        {% if feature.installations %}
        <div class="col-3 tooltipped tooltipped-s" aria-label="{{ feature.installations }} installations">{% octicon cloud-download height:16 class:"v-align-middle" %} <span class="v-align-middle">{{ feature.installations }}</span></div>
        {% endif %}
        <div class="col-3 tooltipped tooltipped-s" aria-label="{{ feature.stars }} stars">{% octicon star height:16 class:"v-align-middle" %} <span class="v-align-middle">{{ feature.stars }}</span></div>
        <div class="col-9 text-right">
          {% for author in feature.authors %}
            <img class="avatar tooltipped tooltipped-s" alt="Made by {{ author }}" aria-label="Made by {{ author }}" height="24" src="https://github.com/{{ author }}.png">
          {% endfor %}
        </div>
      </div>
    </div>
  </a>
</div>
{% endcomment %}
<div class="col-12 col-md-6 Container-max-400 mx-auto">
  <a href="{{ feature.url }}" class="no-underline" style="height:100%">
    <img class="mr-2 mt-n2" src="/assets/{{ feature.svg-images}}" width="50%" height="50%" alt="{{ site.title }}">
    <h3 class="f2 text-normal my-2 lh-condensed">{{ feature.title }}</h3>
    <p class="text-gray">{{ feature.description }}</p>
  </a>
</div>