<div class="text-center bg-gray-light">
    <div class="text-gray py-5">
        <div>
            <p style='opacity: 30%;' total
                <span class="mr-2 d-inline-block">
                  {% assign file_kup = site.data.kup.kup | group_by: 'title' %}
                  {% assign file_pph = site.data.pph.pph | group_by: 'title' %}
                  {% assign file_ppn = site.data.ppn.ppn | group_by: 'title' %}
                  {{file_kup.size | plus:file_pph.size | plus:file_ppn.size}} file & folder tanggal efektif 12 Desember 2019
                </span>
              </p>
              <p>:memo: with :heart: dan :coffee: 2019</p>
              <p><img src="https://developers.google.com/drive/images/drive_app_badge.png"></p>
           </div>
      </div>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>