
{% capture dataid %}{{page.dataid}}{%endcapture%}
{% assign dot = site.fitur | where: "fitur", dataid | group_by: 'linkurl' %}
<h1 class="h1-mktg mt-2">{{page.title}} </h1>
<p>{{page.description}} </p>
{% if page.status == 'open' %}
<p class="text-small text-gray">total terdapat <span class="Label {{page.label}} text-white">{{dot.size}}</span> file dengan status aktif dan masih berlaku </p>
{% else %}
<p class="text-small text-gray"><span class="IssueLabel {{page.label}} text-white">tutup</span> kelas ini masih dalam tahap penyempurnaan materi dan pembenahan basis data</p>
{% endif %}

{% assign docs_by_category = site.fitur | where: "fitur", dataid | group_by: "topik" %}
{% for cat in docs_by_category %}
<h3 class="Subhead border-bottom-0 mb-1" id="{{ cat.name }}">{{ cat.name }}{% if cat.name == "Versi Ringan" %}<span class="v-align-middle bg-gradient-green rounded-1 text-white text-bold text-uppercase p-1 text-small ml-1" style="font-size: 10px !important;">Free</span>{% endif %} </h3>
        {% capture namatopik %}{{ cat.name }}{% endcapture %}
        {% assign sort1 = site.fitur | where: "topik", namatopik | sort: "modifiedTime" %}
        {% assign t = sort1 | sort: "linkurl" | reverse %}
        {% for titles in t %}
        {% if titles.topik != nil %}    
        {% comment %} 
        <div class="col-md-6 mb-4 d-flex no-underline">
          <div class="CircleBadge CircleBadge--small" style="background-color: #ffffff;">
            {% if titles.img %}
              <img class="CircleBadge-icon" alt="" src="/assets/icon/{{dataid}}/{{titles.img}}">
            {%else%}
              <img class="round" width="40" height="40" avatar="{{titles.title}}">
            {% endif %}
          </div>
            <div class="px-3">
                <h4 class="h4" id="{{titles.topik}}-{{titles.title}}">
                {% if titles.linkurl != nil %}
                  <a href="{{titles.linkurl}}" target="_blank">{{titles.title}}</a>
                  <span class="tooltipped tooltipped-n" aria-label="aktif">{% octicon verified height:16 class:"ml-1 text-green" %}</span>
                {% else %}
                  {{titles.title}}<span class="tooltipped tooltipped-n" aria-label="tidak aktif">{% octicon issue-opened height:16 class:"ml-1 text-gray" %}</span> 
                {%endif%}
                </h4><p class="link-text-gray lh-condensed mb-0 f5">{{titles.description}}</p>
                <p class="text-gray-light lh-condensed mb-0 text-small"> terakhir diupdate: {{ titles.modifiedTime}}</p>
            </div>
        </div>

        sumber line bawah https://github.com/settings/billing
        {% endcomment %}
        <div class="Box mb-4">
          <div class="Box-header billing-box-header bg-gray-light d-flex flex-items-center">
            <div class="d-flex flex-items-center CircleBadge CircleBadge--small">
              {% if titles.img %}
              <img class="CircleBadge-icon" width="32" height="32" alt="" src="/assets/icon/{{dataid}}/{{titles.img}}">
            {%else%}
              <img class="round" width="32" height="32" avatar="{{titles.title}}">
            {% endif %}
            </div>
            <div class="Box-title flex-auto ml-1 pl-2">
              <div>{{titles.title}}</div>
              <div class="text-small text-normal text-gray-light">
                <strong>{{titles.description}}</strong>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {%endfor%}

{% endfor %}

<div class="float-left col-md-9 mt-2">
  <div class="clearfix">
    <div class="float-left featurette-benefit-img"><img src="https://github.githubassets.com/images/modules/site/logos/atom-logo.png" alt="" class="featurette-icon"></div>
    <div class="overflow-hidden pb-4 pl-4">
      <h4 class="h4-mktg"><a href="//atom.io" class="text-orange-light" target="_blank">Atom</a></h4>
      <p class="f5 text-gray">Atom is a hackable text editor for the 21st century, built on Electron, and based on everything we love about our favorite editors.</p>
    </div>
  </div>
  <div class="clearfix">
    <div class="float-left featurette-benefit-img"><img src="https://github.githubassets.com/images/modules/site/logos/hubot-logo.png" alt="" class="featurette-icon"></div>
    <div class="overflow-hidden pb-4 pl-4">
      <h4 class="h4-mktg"><a href="//hubot.github.com" class="text-orange-light" target="_blank">Hubot</a></h4>
      <p class="f5 text-gray">Hubot is a chat bot, modeled after GitHub’s Campfire bot, hubot. He’s pretty cool. He’s extendable with scripts and can work on many different chat services.</p>
    </div>
  </div>
  <div class="clearfix">
    <div class="float-left featurette-benefit-img"><img src="https://github.githubassets.com/images/modules/site/logos/lfs-logo.png" alt="" class="featurette-icon"></div>
    <div class="overflow-hidden pl-4 pb-0">
      <h4 class="h4-mktg"><a href="//git-lfs.github.com" class="text-orange-light" target="_blank">Git Large File Storage</a></h4>
      <p class="f5 text-gray">Git LFS is a command line extension and specification for managing large files with Git. </p>
    </div>
  </div>
</div>