{% capture dataid %}{{page.dataid}}{%endcapture%}
{% assign dot = site.fitur | where: "fitur", dataid | group_by: 'linkurl' %}

<h1 class="h1-mktg mt-2">{{page.title}} </h1>
<p>{{page.description}} </p>
{% if page.status == 'open' %}
<p class="text-small text-gray">total terdapat <span class="Label {{page.label}} text-white">{{dot.size}}</span> file dengan status aktif dan masih berlaku </p>
{% else %}
<p class="text-small text-gray"><span class="IssueLabel {{page.label}} text-white">tutup</span> kelas ini masih dalam tahap penyempurnaan materi dan pembenahan basis data</p>
{% endif %}

{% assign docs_by_category = site.fitur | where: "fitur", dataid | group_by: "topik" %}
{% for cat in docs_by_category %}
<h3 class="d-block mt-2">{{ cat.name }}{% if cat.name == "Versi Ringan" %}<span class="v-align-middle bg-gradient-green rounded-1 text-white text-bold text-uppercase p-1 text-small ml-1" style="font-size: 10px !important;">Free</span>{% endif %} </h3>

    <div class="d-md-flex flex-wrap mt-3">
        {% capture namatopik %}{{ cat.name }}{% endcapture %}
        {% assign sort1 = site.fitur | where: "topik", namatopik | sort: "modifiedTime" %}
        {% assign t = sort1 | sort: "linkurl" | reverse %}
        {% for titles in t %}
        {% if titles.topik != nil %}     
        <div class="col-md-6 mb-4 d-flex no-underline">
          <div class="CircleBadge CircleBadge--small" style="background-color: #ffffff;">
            <img class="CircleBadge-icon" alt="" src="/assets/icon/{{dataid}}/{% if titles.img %}{{titles.img}}{%else%}files-and-folders.png{% endif %}">
          </div>
            <div class="px-3">
                <h4 class="h4">
                {% if titles.linkurl != nil %}
                  <a href="{{titles.linkurl}}" target="_blank">{{titles.title}}</a>
                  <span class="tooltipped tooltipped-n" aria-label="aktif">{% octicon verified height:16 class:"ml-1 text-green" %}</span>
                {% else %}
                  {{titles.title}}<span class="tooltipped tooltipped-n" aria-label="tidak aktif">{% octicon issue-opened height:16 class:"ml-1 text-gray" %}</span> 
                {%endif%}
                </h4><p class="link-text-gray lh-condensed mb-0 f5">{{titles.description}}</p>
                <p class="text-gray-light lh-condensed mb-0 text-small"> terakhir diupdate: {{ titles.modifiedTime}}</p>
            </div>
        </div>
        {% endif %}
        {%endfor%}
    </div>
{% endfor %}
