{% capture dataid %}{{page.dataid}}{%endcapture%}
{% assign dot = site.fitur | where: "category", dataid | group_by: 'linkurl' %}

{% if page.dataid contains "aspekpajak" or page.dataid contains "lainlain" %}

{% else %}
    <div class="f6 Label Label--gray">{{dataid}}</div>
{% endif %}

<h1 class="h1-mktg mt-2">{{page.description}} </h1>
{% if page.status == 'open' %}
<p class="text-small text-gray">total terdapat <span class="Label {{page.label}} text-white">{{dot.size}}</span> file dengan status aktif dan masih berlaku </p>
{% else %}
<p class="text-small text-gray"><span class="IssueLabel {{page.label}} text-white">tutup</span> kelas ini masih dalam tahap penyempurnaan materi dan pembenahan basis data</p>
{% endif %}

{% assign docs_by_category = site.fitur | where: "category", dataid | group_by: "topik" %}
{% if page.dataid contains "aspekpajak" %}
    {% include aspekpajak.html %}
{% elsif page.dataid contains "lainlain" %}
    {% include lainlain.html %}
{% elsif page.dataid contains "pph" %}
    {% include pph-json.html %}
{% elsif page.dataid contains "ppn" %}
    {% include pph-json.html %}
{% else %}
    {% include resume.html %}
{% endif %}