{% capture dataid %}{{page.dataid}}{%endcapture%}
{% assign dot = site.fitur | where: "category", dataid | group_by: 'linkurl' %}

<div class="f6 Label Label--gray">{{page.category}}</div>
<h1 class="h1-mktg mt-2">{{page.description}} </h1>
{% if page.status == 'open' %}
<p class="text-small text-gray">total terdapat <span class="Label {{page.label}} text-white">{{dot.size}}</span> file dengan status aktif dan masih berlaku </p>
{% else %}
<p class="text-small text-gray"><span class="IssueLabel {{page.label}} text-white">tutup</span> kelas ini masih dalam tahap penyempurnaan materi dan pembenahan basis data</p>
{% endif %}
{% assign docs_by_category = site.fitur | where: "category", dataid | group_by: "topik" %}
{% assign top = site.fitur | where: "topiccat", dataid | sort: "order" %}
{% for cat in top %}
  {% assign currentCat = docs_by_category | where: 'name', cat.topic | first %}
    <h3 class="d-block mt-2" id="{{ currentCat.name }}">{{ currentCat.name }}</h3>
    
    <ul class="mt-3">
    {% for item in currentCat.items %}
    {% if item.subtopik != nil %}
        {% else %}
            {% include listing-modul-list.html %}
        {% endif %}
    {% endfor %}
    </ul>

    {% capture namatopik %}{{currentCat.name}}{% endcapture %}
    {% assign namesubtopik = site.fitur | where: "topik", namatopik | group_by: 'subtopik' %}
    {% for subtop in namesubtopik %}
        <h4 class="d-block mt-3" id="{{ subtop.name }}">{{ subtop.name }}</h4> 
        <ul>
            {% capture subtopik1 %}{{subtop.name}}{% endcapture %}
            {% assign titling = site.fitur | where: "subtopik", subtopik1 %}
            {% assign titles= titling %}    
            {% for item in titles %}
            {% include listing-modul-list.html %}
            {%endfor%}
        </ul>  
    {%endfor%}
{% endfor %}
