{% assign dataid = page.dataid %}
{%comment%}{% assign resume = site.data.resume.data | where_exp: "item", "item.category == dataid and item.active == 'yes'" | group_by: "title" %}{%endcomment%}
{% assign r = site.data.resume.data | where: "category", dataid" %}
{% assign resume = r | where: "active", 'ya'" %}
{% assign resumes = resume | where: "active", 'ya'" | group_by: "title" %}
{% assign topik = resumes | where: "category", dataid | group_by: 'topik' %}

<div class="f6 Label Label--gray">{{page.category}}</div>
<h1 class="h1-mktg mt-2">{{page.description}} </h1>
{% if page.status == 'open' %}
<p class="text-small text-gray">total terdapat <span class="Label {{page.label}} text-white">{{resumes.size}}</span> file dengan status aktif dan
    masih berlaku </p>
{% else %}
<p class="text-small text-gray"><span class="IssueLabel {{page.label}} text-white">tutup</span> kelas ini masih dalam tahap penyempurnaan materi dan pembenahan basis data</p>
{% endif %}

{% if page.status == "open" %}
    {% for topik in topik %}
        <h3 class="d-block">{{ topik.name }} </h3>
        <ul>
            {% capture snamatopik %}{{ topik.name }}{% endcapture %}
            {% assign t = resume | where: "topik", snamatopik %}
                {% for titles in t %}
                {% if titles.subtopik != nil %}
                {% else %}
                    {% include listing-daftar-file.html %}
                {% endif %}
                {%endfor%}  
        </ul>


        {%comment%} untuk yang ada subcategories {%endcomment%}
        {% capture namatopik %}{{topik.name}}{% endcapture %}
        {% assign namesubtopik = resumes | where: "topik", namatopik | group_by: 'subtopik' %}
        {% for subtop in namesubtopik %}
            <h4 class="d-block">{{ subtop.name }} </h4>
            <ul>
                {% capture subtopik1 %}{{subtop.name}}{% endcapture %}
                {% assign titling = resume | where: "subtopik", subtopik1 %}
                {% assign titles= titling %}    
                {% for titles in titles %}
                {% include listing-daftar-file.html %}
                {%endfor%}
            </ul>    
        {%endfor%}
    {%endfor%}
{% endif %}