{% assign dataid = page.dataid %}
{%comment%}{% assign resume = site.data.resume.data | where_exp: "item", "item.category == dataid and item.active == 'yes'" | group_by: "title" %}{%endcomment%}

{% assign resume = site.data.resume.data | where: "category", dataid" %}
{% assign resumes = resume | where: "active", 'yes'" | group_by: "title" %}

{% assign topik = site.data.resume.data | where_exp: "item", "item.category == dataid" | group_by: 'topik' %}
<h1 class="h1-mktg mt-2">{{page.description}} <span title="Fitur: {{page.category}}"
        class="f6 Label Label--gray">{{page.category}}</span></h1>
{% if page.status == 'open' %}
<p>total terdapat <span class="Label {{page.label}} text-white">{{resumes.size}}</span> file dengan status aktif dan
    masih berlaku </p>
{% else %}
<span class="IssueLabel {{page.label}} text-white">kelas ini masih ditutup</span> tidak ada link yang aktif
{% endif %}

{% for topik in topik %}
<h3 class="link-gray-dark d-block">{{ topik.name }} </h3>
{% capture namatopik %}{{ topik.name }}{% endcapture %}
{% assign subtopik = resume | where: "topik", namatopik | group_by: "subtopik"%}
{% if subtopik.size != 0 %}
<ul>
    {% assign titlenontopik = resume | where: "topik", namatopik %}

    {% for titlenontopiks in titlenontopik %}
    <li class="text-normal">
        <a href="{{ titlenontopiks.url }}" class="text-bold" target="_blank">{{titlenontopiks.title}}</a>
    </li>
    {%endfor%}
</ul>
{% endif %}
{%comment%} untuk subcategories {%endcomment%}
{% for subtopiks in subtopik %}
<h4>{{subtopiks.name}}</h4>
<ul>
    {% capture subtopikname %}{{subtopiks.name}}{% endcapture %}
    {%comment%}{% assign titles = site.data.resume.data | where_exp: "item", "item.category == dataid and item.topik == namatopik" %}{%endcomment%}
    {% assign titles = resume | where: "subtopik", subtopikname %}

    {% for titles in titles %}
    <li class="text-normal">
        <a href="{{ titles.url }}" class="text-bold" target="_blank">{{titles.title}}</a>
    </li>
    {%endfor%}
</ul>
{% endfor %}
{% endfor %}