{% assign dataid = page.dataid %}
{% assign resume = site.data.resume.data | where: "category", dataid" %}
{% assign resumes = resume | where: "active", 'ya'" | group_by: "title" %}
{% assign topik = site.data.resume.data | where_exp: "item", "item.category == dataid" | group_by: 'topik' %}
<div class="mt-sm-2"><span title="Fitur: {{page.category}}" class="f6 Label Label--gray">{{page.category}}</span></div>
<h1 class="h1-mktg mt-2">{{page.description}}</h1>
{% if page.status == 'open' %}
<p>total terdapat <span class="Label {{page.label}} text-white">{{resumes.size}}</span> file dengan status aktif dan
    masih berlaku </p>
{% else %}
kelas ini sedang <span class="IssueLabel {{page.label}} text-white">tutup</span> materi masih dalam tahap persiapan
{% endif %}
{% for topik in topik %}
<h3 class="position-sticky top-0" style="z-index: 2;">{{ topik.name }} </h3>
{% capture namatopik %}{{ topik.name }}{% endcapture %}
{% assign subtopik = resume | where: "topik", namatopik | group_by: "subtopik"%}
<ul>
    {% assign titling = resume | where: "topik", namatopik %}
    {% assign titles = titling | where: "subtopik", blank %}
    {% include listing-daftar-file.html %}
</ul>
{%comment%} untuk yang ada subcategories {%endcomment%}
{% for subtopiks in subtopik %}
<h4>{{subtopiks.name}}</h4>
<ul>
    {% capture subtopikname %}{{subtopiks.name}}{% endcapture %}
    {%comment%}{% assign titles = site.data.resume.data | where_exp: "item", "item.category == dataid and item.topik == namatopik" %}{%endcomment%}
    {% assign titles = resume | where: "subtopik", subtopikname %}

{% include listing-daftar-file.html %}
</ul>
{% endfor %}
{% endfor %}