{% assign dataid = page.dataid %}
{%comment%}{% assign resume = site.data.resume.data | where_exp: "item", "item.category == dataid and item.active == 'yes'" | group_by: "title" %}{%endcomment%}
{% assign resume = site.data.resume.data | where: "category", dataid" %}
{% assign resumes = resume | where: "active", 'ya'" | group_by: "title" %}
{% assign topik = resumes | where: "category", dataid | group_by: 'topik' %}

<div class="f6 Label Label--gray">{{page.category}}</div>
<h1 class="h1-mktg mt-2">{{page.description}} </h1>
{% if page.status == 'open' %}
<p class="text-small text-gray">total terdapat <span class="Label {{page.label}} text-white">{{resumes.size}}</span> file dengan status aktif dan
    masih berlaku </p>
{% else %}
<p class="text-small text-gray"><span class="IssueLabel {{page.label}} text-white">tutup</span> kelas ini masih dalam tahap penyempurnaan materi</p>
{% endif %}

{% for topik in topik %}
    <h3 class="link-gray-dark d-block">{{ topik.name }} </h3>
    <ul>
        {% capture namatopik %}{{topik.name}}{% endcapture %}
        {% assign t = resume | where: "topik", namatopik %}
        {% assign ti = t | where: "subtopik", blank %}
        {% for titl in ti %}
        <li class="text-normal">
            {% if titl.active == "ya" %}
            <a href="{{ titl.url }}" target="_blank" class="tooltipped tooltipped-n" aria-label="File {{titl.type}}, aktif: {{titl.active}}">{{titl.title}}</a>
            {% else %}
            <span class="tooltipped tooltipped-n" aria-label="tipe: {{titl.type}}, aktif: {{titl.active}}">{{titl.title}}</span>
            {% endif %}
        </li>
        {%endfor%}
    </ul>


    {%comment%} untuk yang ada subcategories {%endcomment%}
    {% capture namatopik %}{{topik.name}}{% endcapture %}
    {% assign subtopik = resumes | where: "topik", namatopik | group_by: 'subtopik' %}
    {% for subtopik in subtopik %}
        <h4 class="link-gray-dark d-block">{{ subtopik.name }} </h4>
        <ul>
            {% capture namasubtopik %}{{subtopik.name}}{% endcapture %}
            {% assign titling = resume | where: "subtopik", namasubtopik %}
            {% assign titles= titling %}    
            {% include listing-daftar-file.html %}    
        </ul>    
    {%endfor%}

{%endfor%}
