{% comment %}
    membaca file md di collection fitur
{% endcomment %}
{% assign top = site.fitur | where: "topiccat", dataid | sort: "order" %}
{% for cat in top %}
  {% assign currentCat = docs_by_category | where: 'name', cat.topic | first %}
    <h3 class="d-block mt-2" id="{{ currentCat.name }}">
        {{ currentCat.name }}
    </h3>
    
    <ul class="mt-3">
    {% for item in currentCat.items %}
    {% if item.subtopik != nil %}
        {% else %}
            {% include listing-modul-list.html %}
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}

<hr class="text-center" width="250px">
{% comment %}
    membaca file _data sesuai dengan dataid
{% endcomment %}

{% assign dataidCategory = (site.data[dataid] | group_by: "Category" | sort: "SortCategory") | reverse %}
{% assign sort = dataidCategory | reverse %}
{% for byIdCategory in sort.items %}
    
    <p class="d-block mt-2" id="{{ byIdCategory.name }}">
        {{ byIdCategory.Category}}
    </p>
   


{% endfor %}