{% if page.url == '/' %}{% assign homepage = true %}{% endif %}

<div class="{% unless homepage %}border-bottom{% endunless %} bg-biru-linear">
  <div class="container-lg px-3">
    <div class="py-4 d-flex flex-justify-between">

      {% comment %}
      {% unless homepage %}
      <a href="/" class="no-underline text-header-pro text-white d-flex flex-items-center">
        <img class="mr-2 mt-n2" src="/assets/tiger-32.png" width="32" height="32" alt="{{ site.title }}">
        <div class="hide-sm">KelasPajak<span class="text-header-light">WithLess</span></div>
      </a>
      {% endunless %}
      {% endcomment %}

      <a href="/" class="no-underline text-header-light text-white d-flex flex-items-center">
        <img class="mr-2 mt-n2" src="/assets/tiger-32.png" width="32" height="32" alt="{{ site.title }}">
        <h1 class="h3 lh-default text-header-bold hide-sm">KelasPajak</h1>
        <h1 class="h3 hide-sm lh-default text-header-light">WithLess
        </h1>
      </a>
      <nav class="text-bold text-right">
        {% unless homepage %}
        {% for fitur in site.data.navigation.docs %}
        <a class="text-inherit px-2 d-inline-block" {{ fitur.style }} href="{{ fitur.url }}">{{ fitur.title }}
        </a>
        {% endfor %}
        {%endunless%}
        {% comment %}<a class="text-inherit px-2 d-inline-block" href="/pricing">Langganan</a>{% endcomment %}
        <a class="text-inherit px-2 d-inline-block" href="/komunitas">
          Komunitas
        </a>
      </nav>
    </div>
  </div>
</div>