{% assign top = site.fitur | where: "topiccat", dataid | sort: "order" %}
{% for cat in top %}
  {% assign currentCat = docs_by_category | where: 'name', cat.topic | first %}
    <h3 class="d-block mt-2" id="{{ currentCat.name }}">
        {{ currentCat.name }}
    </h3>
    
    <ul class="mt-3">
    {% for item in currentCat.items %}
    {% if item.subtopik != nil %}
        {% else %}
            {% include listing-modul-list.html %}
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}


{% for cat in site.data.resume-pph.Resume-PPh %}

    <h3 class="d-block mt-2" id="{{ currentCat.name }}">
        {{ cat[0] }}
    </h3>
{% endfor %}