<div id="toc" class="col-md-3 py-6" style="min-width: 250px; max-width: 360px;">
  <div class="toc-wrap">
    {% for item in site.data.navigation.docs %}
    {% unless item.url contains '/fitur/resume/' %}
    <a class="d-block no-underline {% if item.url == page.url %}active {% else %}link-gray-dark {% endif %}" href="{{ item.url }}" {% if item.url contains 'faq-pajak-indonesia'  %}target="_blank"{% endif %}>
    {% endunless %}
    <h4 class="alt-h4" id="{{ item.id }}">
        {% if item.url contains 'faq-pajak-indonesia'  %}<span
          class="v-align-middle bg-green rounded-1 text-white text-bold text-uppercase p-1 text-small"
          style="font-size: 10px !important;">Free</span>{% endif %}
        {{ item.title }}
      </h4>
    {% unless item.url contains '/fitur/resume/' %}</a>{% endunless %}
    <ul class="mt-2 mb-4 list-style-none filter-list">
      {% for entry in item.children %}
      <li id="{{ entry.id }}">
        <a class="filter-item d-block no-underline py-1 {% if entry.url == page.url %}active {% else %}link-gray-dark {% endif %}" href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>