---
title: Resume KUP
layout: pages
desc: listing title dan subtopik
---
### listing title dan subtopik

{% assign topik = site.data.resum.kup | group_by: 'topik' %}
{% for topik in topik %}
    <h3>{{ topik.name }}</h3>
    {% assign titles = site.data.resum.kup | where: "topik", topik.name %}
    {% for titles in titles %}
        <li><a href="{{ titles.url }}">{{ titles.title }}</a></li>
    {% endfor %}
    <ul>
        {% assign subtopik = site.data.resum.kup | where: "topik", topik.name | group_by: 'subtopik' %}
        {% for subtopik_list in subtopik %}
            <li class="ml-6">{{ subtopik_list.name }}
                <ul>
                    {% assign titles = site.data.resum.kup | where: "subtopik", subtopik_list.name %}
                    {% for titles in titles %}
                    <li>{{ titles.title }}</li>
                    {% endfor %}
                  </ul>
            </li>
        {% endfor %}
    </ul>
{% endfor %}