---
---
$marketing-font-path: "/assets/fonts/" !default;
@import "typhography-inter.scss";
@import '@primer/css/core/index.scss';
@import "@primer/css/product/index.scss";
@import "@primer/css/marketing/index.scss";
@import "pages/home.scss";
@import "colors.scss";
@import "markdown.scss";
@import "switcher.scss";
@import "addtocalendar.scss";
@import "anchor.scss";

img {
  max-width: 100%;
  max-height: 100%;
}

.featurette {
  padding-top: $spacer * 10;
  padding-bottom: $spacer * 10;
}

.octicon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

code {
  font-size: 14px;
}

/*
 * Extend the footer to the bottom of the page,
 * even if there’s not enough content to make the page scroll.
 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container-lg {
  flex: 1;
}

#toc .toc-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

.flex-1 {
  flex: 1;
}

.site-header {
  text-align: center;
  color: $blue-mktg !important;
  -webkit-font-smoothing: antialiased;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logobanner {
  margin-top: 0;
  color: #234766;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 30%,#fff),linear-gradient(70deg,#e0f1ff 32%,#fffae3);
  border-bottom-color: #fff;
}

.bg-nelson-gradient {
  background-image: linear-gradient( 106.8deg,  rgba(117,255,220,1) 6%, rgba(163,216,255,1) 47.6%, rgba(248,215,251,1) 87.8% );
}

.bg-snowagain-gradient {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.bg-lollypop-image {
  background-image: url("../lollypop.jpg");
  background-color: #cccccc;
 }

 .bg-perfume-image {
  background-image: url("../perfume.jpg");
  background-color: #999999;
 }

 .bg-orange-linear {
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
 }

 .bg-biru-linear {
  color: #fff;
  background: linear-gradient(90deg,#257bf9,#2426ca);
}

.bg-biru-muda {
  background-image: url("../lollypop.jpg");
}

.link-black {
  color: $black;
}

.hover-fade{
  opacity: 0.6;
}

.hover-fade:hover {
  opacity: 0.9;
}

.bg-orange {
  background-color: $orange-400;
}
.text-header-light {
  font-family: $font-mktg;
  font-weight: $font-weight-light !important;
}

.text-header-bold {
  font-family: $font-mktg;
  font-weight: $font-weight-bold;
}

.text-header-medium {
  font-family: $font-mktg;
  font-weight: $font-weight-semibold;
}

.bg-footer-gradient {
  background-image: linear-gradient(to top, #c8e1ff 0%, white 100%);
}

.bg-bankslate-gradient {
  background-image: linear-gradient(to top, white 0%, #c8e1ff 100%);
}

.site__title {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 60s infinite linear;
}

body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter', sans-serif; }
}

@media (min-width: 768px) {
  .fully-width {
    min-width: $width-md;
  }
}

//twemoji
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

svg {
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

//inter-ui settings
.font-inter-case {
  font-feature-settings: 'case' 1;
}

.slashed-zero {
  font-feature-settings: 'zero' 1;
}

.character-variant {
  font-feature-settings: 'cv11' 1;
}

.tnum {
  font-feature-settings: 'tnum' 1;
}

.hanging-icon-list li {
  padding-left: 25px;
  margin: 10px 0;
  font-size: 14px;
  list-style-type: none;
}