---
title: Aspek Perpajakan
description: Aspek Perpajakan per Industri, pohon industri, proses bisnis
layout: pages
permalink: /fitur/aspekpajak/
---

{% assign dot = site.aspekpajaks %}
{% assign datas = dot | group_by: 'linkurl' %}
<h1 class="h1-mktg mt-sm-2">Aspek Perpajakan Industri</h1>
<p class="text-small text-gray">total terdapat <span class="IssueLabel bg-green text-white">{{datas.size}}</span> aspek perpajakan per industri dengan status aktif</p>
<p class="text-small text-gray">seluruh versi hanya dapat dilihat oleh peserta yang terdaftar, kecuali versi ringan. silakan <a href="https://t.me/lesssummer/" target="_blank" class="link-text-gray">kontak kami</a> untuk mendapatkan hak akses</p>

{% assign topik_group = dot | where: "fitur", "aspekpajak" | group_by: 'topik' %}
{% for topik in topik_group %}
<h3 class="d-block">{{ topik.name }} {% if topik.name == "Versi Ringan" %}<span class="v-align-middle bg-green rounded-1 text-white text-bold text-uppercase p-1 text-small ml-1" style="font-size: 10px !important;">Free</span>{% endif %}</h3>

<div class="d-md-flex flex-wrap mt-3">
  {% capture namatopik %}{{ topik.name }}{% endcapture %}
  {% assign sort1 = dot | where: "topik", namatopik | sort: "modifiedTime" %}
  {% assign t = sort1 | sort: "linkurl" | reverse %}
  {% for titles in t %}
  {% if titles.topik != nil %}     
  <div class="col-md-6 mb-4 d-flex no-underline">
      <div class="CircleBadge CircleBadge--small" style="background-color: #ffffff;">{% if titles.img %}<img class="CircleBadge-icon" alt="" src="/assets/icon/aspekpajak/{{titles.img}}">{% endif %} </div>
      <div class="px-3">
          <h4 class="h4">
          {% if titles.linkurl != nil %}<a href="{{titles.linkurl}}" target="_blank">{{titles.title}}</a><span class="tooltipped tooltipped-n" aria-label="aktif"> {% octicon verified height:16 class:"ml-1 text-green" %}</span>{% else %}{{titles.title}}<span class="tooltipped tooltipped-n" aria-label="tidak aktif">{% octicon issue-opened height:16 class:"ml-1 text-gray" %}</span> {%endif%}
          </h4> <p class="link-text-gray lh-condensed mb-0 f5">{{titles.description}}</p>
          <p class="text-gray-light lh-condensed mb-0 text-small"> terakhir diupdate: {{ titles.modifiedTime}}</p>
      </div>
  </div>
  {% endif %}
  {%endfor%}
</div>
{% endfor %}