---
title: Resume
description: Kumpulan resume perpajakan PPN & PPn BM
permalink: /fitur/resume/
---
{% assign doclist = site.data.navigation.docs | where: 'title', 'Resume'  %}
{% for item in doclist %}
<div class="h3">{{ item.title }}</div>
<div class="tex-gray mb-4">{{ item.description }}</div>
<div class="mb-4">
    <ul>
        {% for entry in item.children %}
        <li><a class="link-gray" href="{{ entry.url }}">{{ entry.title }}{% if entry.description %}<span class="alt-text-small" style="opacity: 0.6"> - {{ entry.description }}</span>{% endif %}</a></li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
