---
title: Resume KUP
layout: pages
---
{% assign file_kup = site.data.kup.kup | where:"active","tidak" | group_by: 'title'%}
{% assign topik = site.data.kup.kup | group_by: 'topik' %}
<h5>Resume</h5>
<h3>Ketentuan Umum dan Tatacara Perpajakan</h3>
<h4>total terdapat {{file_kup.size}} file </h4>
{% for topik in topik %}
<h2 class="link-gray-dark d-block">{{ topik.name }} </h2>
<ul>
    {% assign titles = site.data.kup.kup | where: "topik", topik.name %}
    {% for titles in titles %}
    <li class="text-normal">
        {% if titles.active == "tidak" %}
            <span class="text-gray" style="opacity: 0.6">
        {% else %}
            <a href="{{ titles.url }}" class="link-black" target="_blank" >
        {%endif%}
        {{ titles.title }}
        {% if titles.active == "tidak" %}
            </span>
        {% else %}
            </a>
        {%endif%}
        &nbsp;<i class="{{ titles.icon }} alt-text-small" style="opacity: 0.6"></i>
        {% if titles.subtopik %}
        <span class="alt-text-small" style="opacity: 0.6"> - {{ titles.subtopik }}</span>
        {% endif %}
        <a href="https://twitter.com/intent/tweet?text={{ titles.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
            rel="nofollow" target="_blank" title="Share on Twitter" class="hover-fade"><i class="fab fa-twitter-square"></i></a>
    </li>
    {% endfor %}
</ul>
{% endfor %}