---
title: Resume PPN & PPn BM
layout: pages
---
{% assign topik = site.data.ppn.ppn | group_by: 'topik' %}
{% for topik in topik %}
    <h3>{{ topik.name }} </h3>
    <ul>
        {% assign titles = site.data.ppn.ppn | where: "topik", topik.name %}
        {% for titles in titles %}
        <li class="text-normal">
                {% if titles.active == "tidak" %}
                    <span class="text-gray" style="opacity: 0.6">
                {% else %}
                    <a href="{{ titles.url }}" class="link-gray">
                {%endif%}               
                {{ titles.title }} <i class="{{ titles.icon }} alt-text-small" style="opacity: 0.6"></i>
                {% if titles.subtopik %}
                <span class="alt-text-small" style="opacity: 0.6"> - {{ titles.subtopik }}</span>
                {% endif %}
                {% if titles.active == "tidak" %}
                    </a>
                {% else %}
                </a>
                {%endif%}         
            </li>
        {% endfor %}
    </ul>
{% endfor %}
