<div class="py-2 my-2 border-bottom">
  <a class="text-bold link-gray-dark d-flex no-underline wb-break-all d-inline-block" data-hydro-click="{&quot;event_type&quot;:&quot;dashboard.click&quot;,&quot;payload&quot;:{&quot;event_context&quot;:&quot;DISCOVER_REPOSITORIES&quot;,&quot;target&quot;:&quot;REPOSITORY&quot;,&quot;record_id&quot;:53063179,&quot;dashboard_context&quot;:&quot;user&quot;,&quot;dashboard_version&quot;:2,&quot;user_id&quot;:57969740,&quot;client_id&quot;:&quot;1096963306.1577685857&quot;,&quot;originating_request_id&quot;:&quot;32C8:1076:3265E6D:46AD6EC:5E09BAF1&quot;,&quot;originating_url&quot;:&quot;https://github.com/&quot;,&quot;referrer&quot;:&quot;https://github.com/issues&quot;}}" data-hydro-click-hmac="223f3a4f6ec323ad53836e09f87137427bc965a532476d1e26509313bbf02170" data-ga-click="Explore, go to repository, location:dashboard;context:user" href="/contributorpw/google-apps-script-snippets">contributorpw/google-apps-script-snippets</a>
  <p class="f6 text-gray mb-2" itemprop="description">
    Google Apps Script Snippets
  </p>

    <span class="mr-2 f6 text-gray text-normal">
      <span>
<span class="repo-language-color" style="background-color: #f1e05a"></span>
<span itemprop="programmingLanguage">JavaScript</span>
</span>

    </span>

    <span class="f6 text-gray text-normal">
      <svg aria-label="star" class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16" role="img"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
      100
    </span>
</div>


{% assign dataid = page.dataid %}
{%comment%}{% assign resume = site.data.resume.data | where_exp: "item", "item.category == dataid and item.active == 'yes'" | group_by: "title" %}{%endcomment%}

{% assign resume = site.data.resume.data | where: "category", dataid" %}
{% assign resumes = resume | where: "active", 'yes'" | group_by: "title" %}

{% assign topik = site.data.resume.data | where_exp: "item", "item.category == dataid" | group_by: 'topik' %}
<div class="mt-sm-3">
<h5>{{page.category}}</h5></div>
<h1 class="h0-mktg mb-8">{{page.description}}</h1>
{% if page.status == 'open' %}
<p>total terdapat <span class="Label {{page.label}} text-white">{{resumes.size}}</span> file dengan status aktif dan masih berlaku </p>
{% else %}
<span class="IssueLabel {{page.label}} text-white">kelas ini masih ditutup</span> tidak ada link yang aktif
{% endif %}

{% for topik in topik %}
<h3 class="link-gray-dark d-block">{{ topik.name }} </h3>
<ul>
  {% capture namatopik %}{{ topik.name }}{% endcapture %}
  {%comment%}{% assign titles = site.data.resume.data | where_exp: "item", "item.category == dataid and item.topik == namatopik" %}{%endcomment%}

  {% assign titulo = site.data.resume.data | where: "category",dataid %}
  {% assign titles = titulo | where: "topik", namatopik %}

  {% for titles in titles %}
  <li class="text-normal">
      {% if titles.active == "tidak" %}
          <span class="text-gray text-header-light" style="opacity: 0.6">
      {% else %}
          <a href="{{ titles.url }}" class="text-bold" target="_blank" >
      {%endif%}
      {{ titles.title }}
      {% if titles.active == "tidak" %}
          </span>
      {% else %}
          </a>
      {%endif%}
      &nbsp;<i class="{{ titles.icon }}" style="opacity: 0.6"></i>
      {% if titles.subtopik %}
       &#8211; <span class="alt-text-small text-header-light h6 font-inter-case" style="opacity: 0.6">{{ titles.subtopik }}</span>
      {% endif %}
      <a href="https://twitter.com/intent/tweet?text={{ titles.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="hover-fade">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#1074e7" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
      </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}