<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>MainTenis | KelasPajakWithLess</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.2/gsap.min.js"></script>
</head>
<body>
  <div class="cassette">
    <header>
      <h1>Main</h1>
      <h2>Tenis</h2>
    </header>
    <h3>
      KelasPajak <br />
      WithLess
    </h3>
  
    <span class="graphics">
      <span class="rainbow"></span>
      <span class="triangle"></span>
    </span>
    
    <footer>
      <p>0.2.0</p>
    </footer>
  </div>
</body>
<script src="/gajah.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146778045-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146778045-2');
</script>
</html>