---
layout: default
---
{% if page.hero %}
{% include hero.html %}
{% endif %}
{% if page.list %}
    {% capture dataid %}{{ page.dataid }}{% endcapture %}
    {% assign Category = site.data[dataid] | group_by: "Category" %}
    {% for sitesort in site[dataid] %}
    {% assign cat = Category | where: 'name', sitesort | first %}
    <div class="my-12">
      <h3 class="flex items-center mt-2 mb-4 text-2xl leading-8 font-bold" id="{{ cat.name }}">
        {{ forloop.index0 | plus: 1 }}. <span class="ml-2">{{ cat.name }}</span>
      </h3>
      <ul class="list-none truncate">
        {% for item in cat.items %}            
        {% if item.Topic != nil %}
        {% else %}
          {% include listResume.html %}
        {% endif %}
        {% endfor %}
      </ul>
      
      {% capture categoryName %}{{cat.name}}{% endcapture %}
      {% assign topics = site.data[dataid] | where: "Category", categoryName | group_by: 'Topic' %}
      {% for topic in topics %}
      {% if topic.name.size > 0 %}

      <h4 class="text-lg flex items-center font-semibold mt-6 text-gray-900">
        {{ topic.name }}
      </h4>
      <ul class="list-none">
        {% capture subtopik1 %}{{topic.name}}{% endcapture %}
        {% assign titles = site.data[dataid] | where: "Topic", subtopik1 | sort: "P#" %}
        {% for item in titles %}
        {% include listResume.html content="pl-4"%}
        {% endfor %}
      </ul>
      {% else %}
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}

{% elsif page.card %}
<div class="mx-auto grid grid-cols-1 row-gap-8 pt-6 pb-12">
  {% capture dataid %}{{ page.dataid }}{% endcapture %}
  {% assign sort1 = site.fitur | where: "category", dataid | group_by: "topik" %}
  {% for cat in sort1 %}
    <div>
      <div>
        <div class="pb-0">
          <div class="h-3"></div>
        </div>
        <div class="sm:flex sm:items-baseline sm:justify-between" id="{{ cat.name }}">
          <h2 class="text-xl leading-8 font-semibold tracking-tight font-display text-gray-900 sm:text-2xl sm:leading-9">
            {{ cat.name }}
          </h2>
        </div>
      </div>
      <div class="mt-6 grid grid-cols-1 row-gap-8">
        <div class="border-t border-gray-200 pt-8 grid grid-cols-1 row-gap-4 sm:grid-cols-2 md:grid-cols-3 sm:gap-5">
          {% for item in cat.items %}            
          {% if item.Topic != nil %}
          {% else %}
            {% include listCard.html %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="markdown-body">{{ content }}</div> 
{% endif %}